.flex-cc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.col {
    flex-flow: column nowrap;
}


/**** Main Header * END *****************/

body>section {
    padding: 80px 0 0 0;
}


/*** Hanuma **********************/

#searchSection {
    --offset: 140px;
    height: calc(100vh - var(--offset));
    margin-top: -80px;
    font-size: 18px;
    align-items: center;
    align-self: stretch;
}

#searchSection.resultAdded {
    --offset: 60px;
}

#searchWrapper {
    align-items: stretch;
}

#searchWrapper>* {
    margin: 14px 0;
}

#searchWrapper select,
#searchWrapper button,
#searchWrapper label {
    height: 60px;
    padding: 12px 18px;
    border-radius: 4px;
}

#searchWrapper select:focus,
#searchWrapper button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--rich-black);
}

#searchWrapper label {
    background: var(--alicia-blue);
}

#searchWrapper button {
    transition: background-color 20ms ease-in-out;
}

#selectWrapper {
    align-items: center;
}

#selectWrapper>span,
#typeChkWrapper span {
    margin: 0 12px;
    font-weight: 600;
}

#distSel,
.lBtnWrap {
    width: 40%;
    flex: 2 1 auto;
    font-size: 18px;
}

#distSel {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: var(--alicia-blue);
    background-image: url("../img/outline_arrow_drop_down_black_48dp.png");
    /*https://www.clipartmax.com/png/middle/118-1181112_chevron-icon-drop-down-menu-arrow.png*/
    background-position: right 12px top 50%;
    background-repeat: no-repeat;
    background-size: 32px;
}

.lBtnWrap.col {
    position: relative;
    align-items: stretch;
}

#info-model {
    --acc-clr: black;
    --bg-clr: #ddd;
    --trnslt: 62px;
    position: absolute;
    padding: 6px 12px;
    margin: 0 1px;
    color: var(--acc-clr);
    background-color: var(--bg-clr);
    border: 2px solid var(--acc-clr);
    border-radius: 8px;
    font-size: 14px;
    transition: transform cubic-bezier(.08, .6, 0, .99) 200ms;
}

#info-model.throw-error {
    --acc-clr: #e03930;
    --bg-clr: rgb(255, 225, 225);
    transform: translatey(var(--trnslt));
}

#info-model.throw-success {
    --acc-clr: #189418;
    --bg-clr: rgb(225, 255, 225);
    transform: translatey(var(--trnslt));
}

#info-msg-wrap {
    align-items: center;
}

#info-msg-wrap>span {
    height: 100%;
}

#info-msg-wrap .icon {
    font-size: 18px;
    margin: 0;
    margin-right: 4px;
}

#locateMeBtn {
    color: white;
    background-color: var(--blue-crayola);
    font-weight: 600;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#locateMeBtn:hover {
    background-color: #7199ff;
}

#locateMeBtn:focus {
    border-color: var(--royal-blue-dark);
}

#locateMeBtn:active {
    background-color: var(--usafa-blue);
}

#locateMeBtn:disabled {
    color: #999;
    background-color: #ddd;
}

#typeChkWrapper {
    align-items: center;
}

#typeChkWrapper>* {
    margin: 6px 0;
}

#typeChkWrapper label {
    height: 56px;
    margin: 0 8px;
    display: flex;
    align-items: center;
}

#typeChkWrapper label:first-child {
    margin-left: 0;
}

#typeChkWrapper label:last-child {
    margin-right: 0;
}

#typeChkWrapper input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --dim: 20px;
    width: var(--dim);
    height: var(--dim);
    margin: 0;
    margin-right: 10px;
    border: none;
    border: 2px solid var(--blue-crayola);
    border-radius: 3px;
    background: #bedcff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typeChkWrapper input[type="checkbox"]:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: transparent;
}

#typeChkWrapper input[type="checkbox"]:checked:after {
    color: white;
}

#typeChkWrapper input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--rich-black);
}

#typeChkWrapper input[type="checkbox"]:checked {
    background: var(--blue-crayola);
}

#searchBtn {
    color: white;
    background-color: var(--usafa-blue);
    font-size: 30px;
    font-weight: 700;
}

#searchBtn:hover {
    background-color: #3373b1;
}

#searchBtn:focus {
    border-color: var(--rich-black);
}

#searchBtn:active {
    background-color: var(--royal-blue-dark);
}

#searchBtn:disabled {
    color: #999;
    background-color: #ddd;
}


/*** Tab Menu ********************/

#resTabWrapper,
#resultSection {
    margin: 0 6vw;
}

#resTabWrapper {
    padding-top: 90px;
}

#resTabWrapper div {
    width: 100%;
    background: var(--royal-blue-dark);
}

.tabBtn.flex-cc {
    user-select: none;
    width: 33%;
    height: 60px;
    padding: 6px 24px;
    margin: 0 1px;
    margin-bottom: 2px;
    color: black;
    background-color: var(--alicia-blue);
    font-size: 18px;
    flex: 2 1 auto;
    align-items: center;
}

.tabBtn:first-child {
    margin-left: 0;
}

.tabBtn:last-child {
    margin-right: 0;
}

.tabBtn.active {
    color: white;
    background-color: var(--usafa-blue);
    font-weight: bold;
}

.tabBtn input {
    display: none;
}

.tabBtn .material-icons {
    font-size: 22px;
    margin-right: 4px;
}

#resultSection {
    margin-bottom: 20px;
    padding-top: 0;
    overflow: hidden;
}

#resultSection>* {
    align-self: stretch;
}

.tabContentWrapper {
    --w: calc(3 * 94vw);
    height: calc(100vh - 160px);
    width: var(--w);
    background-color: var(--alicia-blue);
    border: none;
    overflow: hidden;
    justify-content: flex-start;
}

.tabContentWrapper>section {
    height: 100%;
    width: 88vw;
    padding: 16px;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: stretch;
}


/*** Hanuma * END *********************/

.card {
    margin: 6px 0;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card:hover {
    background: #fff8da;
    transform: scale(1.02);
}

.card:hover>* {
    background: #fff8da;
    /*#D3E7FF;*/
}

.resSectHead {
    align-self: stretch;
    text-align: center;
    color: var(--royal-blue-dark);
    margin: 10px 0;
}

.resSectHead span {
    display: inline-block;
    padding: 2px 4px;
    color: var(--blue-crayola);
}

.loadingSpan {
    margin: 16px 0;
    font-size: 18px;
    font-weight: 600;
}

.loadIcon {
    margin-left: 4px;
    animation: loading 1000ms ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*************** Filters ***********************/

.filters {
    padding: 8px;
    margin: 4px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    justify-content: space-between;
    align-items: stretch;
}

.filters ul.col {
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    flex: 2 1 auto;
}

.filters ul.noBullets div.flex-cc {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}

.filters ul.noBullets li {
    margin: 2px 4px;
    padding: 0;
}

.filters ul li label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    border: 2px solid #7199ff;
    border-radius: 32px;
    padding: 6px 12px;
}

.filters ul li label.selected {
    color: white;
    background-color: var(--blue-crayola);
    border-color: blue;
}

.filters ul li label input {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    margin-right: 6px;
}

.fltrBtnDiv {
    max-width: 180px;
    min-width: 60px;
}

.fltrBtnDiv>button {
    cursor: pointer;
    height: 50px;
    max-height: 100%;
    padding: 0px 12px;
    margin: 4px 0;
    color: white;
    border: 4px solid transparent;
    border-radius: 4px;
    align-self: stretch;
    align-items: center;
}

.fltrBtnDiv>button:first-child {
    margin-top: 0;
}

.fltrBtnDiv>button:last-child {
    margin-bottom: 0;
}

.fltrBtnDiv>button:hover {
    border-color: var(--brd-clr);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.fltrBtnDiv>button:active {
    background-color: var(--brd-clr);
}

.filterBtn {
    --brd-clr: var(--usafa-blue);
    background-color: var(--blue-crayola);
}

.clrFilterBtn {
    --brd-clr: brown;
    background-color: red;
}


/*** Gayatri *********************/

#medStoreTabContainer.col {
    align-items: stretch;
}

#medStoreTabContainer .container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

.med {
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.med:hover {
    background: #fff8da;
}

.storecontainerL {
    height: 180px;
    max-width: 180px;
    margin-right: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storecontainerL img {
    height: 100%;
}

.storecontainerR {
    height: 100%;
    width: 50%;
    font-size: 14px;
    flex: 2 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.storecontainerR>* {
    margin: 0;
    margin: 4px 0;
}

.storecontainerR h4 {
    color: green;
}

.storecontainerR>div.flex-cc {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.storecontainerR div a {
    margin: 2px 0;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none;
    background-color: #bedcff;
}

.storecontainerR div a:hover {
    text-decoration: underline;
}

.storecontainerR div a i {
    margin-right: 4px;
}

.storecontainerR div .btn {
    color: white;
    background: var(--usafa-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.storecontainerR div .btn .icon {
    margin-left: 6px;
    font-size: 14px;
}


/*** Gayatri * END ********************/


/*** Siva ************************/

#hospitalTabContainer .container {
    align-items: stretch;
}

#hospitalData {
    width: 100%;
    flex-flow: column nowrap;
    align-items: stretch;
}

.hospitalItem {
    margin: 4px 0;
    padding: 0;
    background: #fff;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.hospitalItem ul.noBullets {
    margin: 0;
}

.hospitalItem>* {
    padding: 8px;
}

.hospitalDetails {
    width: 60%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.hospitalDetails>ul.noBullets {
    align-items: flex-start;
}

.hospitalDetails>ul.noBullets li {
    margin: 3px 4px;
}

li.hspNameLi {
    align-self: stretch;
    justify-content: space-between;
}

li.hspNameLi h4 {
    margin: 0;
    margin: 4px 0;
    font-size: 24px;
}

li.hspChargesLi {
    background-color: #bedcff;
    margin-bottom: 6px;
    padding: 4px 8px;
    border-radius: 4px;
}

li.hspChargesLi.govt {
    background-color: #80ed99;
}

li.hspChargesLi.private {
    background-color: #f28f3b;
}

li.hspPhoneLi .phoneUl {
    align-items: stretch;
}

li.hspPhoneLi .phoneUl li {
    margin: 0 8px;
}

li.hspPhoneLi .phoneUl li:first-child {
    margin-left: 0;
}

li.hspPhoneLi .phoneUl li.vertLine {
    margin: 0;
    width: 1px;
    background: #222;
}

li.hspPhoneLi .phoneUl li:last-child {
    margin-right: 0;
}

li.hspAddressLi {
    font-size: 14px;
}

a.hspDetailsLink {
    --dim: 36px;
    height: var(--dim);
    padding: 0 16px;
    margin-left: 4px;
    color: white;
    background: var(--usafa-blue);
    border-radius: calc(var(--dim) / 2);
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    flex: 0 0 auto;
}

a.hspDetailsLink:hover {
    text-decoration: underline;
}

.bedData {
    width: 40%;
    background: var(--alicia-blue);
    justify-content: center;
    align-items: stretch;
}

.bedData table,
.bedData th,
.bedData tr,
.bedData td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.bedData tr {
    width: 100%;
    text-align: center;
}

.bedData th,
.bedData td {
    padding: 1px 2px;
}

.bedData td {
    width: 20%;
}

.bedData .zero_beds {
    background-color: rgb(231, 104, 104);
}

.bedData .available_beds,
.bedData .full_beds {
    background-color: #9be9a8;
}


/*** Siva * END ***********************/


/*** Basha ***********************/

#vaccCentreData {
    width: 100%;
    flex-flow: column nowrap;
    align-items: stretch;
}

.vaccCentreItem {
    margin: 6px 0;
    padding: 0;
    background: #fff;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.vaccCentreItem ul.noBullets {
    margin: 0;
}

.vaccCentreItem>* {
    padding: 8px;
}

.vaccCentreDetails {
    width: 55%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.vaccCentreDetails>ul.noBullets {
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
}

.vaccCentreDetails>ul.noBullets li {
    margin: 3px 4px;
}

li.vcNameLi {
    align-self: stretch;
    justify-content: space-between;
}

li.vcNameLi h4 {
    margin: 0;
    margin: 4px 0;
    font-size: 22px;
}

li.vcTagsLi {
    margin-bottom: 6px;
}

li.vcTagsLi span {
    display: inline-block;
    background-color: rgba(0, 120, 255, 0.2);
    margin: 2px;
    padding: 3px 6px;
    border-radius: 3px;
    text-align: center;
}

li.vcTagsLi span:first-child {
    margin-left: 0;
    text-align: center;
}

li.vcTagsLi span:last-child {
    margin-right: 0;
}

li.vcTagsLi span.Paid {
    background-color: #ffb97b;
    /*#f28f3b;*/
}

li.vcTagsLi span.Free {
    background-color: #80ed99;
}

li.vcTagsLi span.vacc {
    background-color: #48cae4;
}

li.vcTagsLi span.age {
    background-color: #cebeff;
}

li.vcAddressLi {
    font-size: 14px;
}

.vaccData {
    width: 55%;
    background: var(--alicia-blue);
    justify-content: center;
    align-items: stretch;
}

.vaccDataTable {
    text-align: center;
}

.vaccDataTable th,
.vaccDataTable td {
    margin: 0;
    padding: 2px;
}

.vaccDataTable td span {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    padding: 3px 0;
    background-color: #999;
}

.vaccDataTable td span.vc_avlbl {
    background-color: green;
    color: white;
}

.vaccDataTable td span.vc_bkd {
    background-color: brown;
    color: white;
}

.vaccDataTable td span.vc_na {
    background-color: #d6d6d6;
    color: #666;
}


/*** Basha * END ********************/


/*** Media Queries ***************************************/

@media (max-width: 1024px) {
    .hospitalDetails {
        width: 43%;
    }
    .bedData {
        width: 57%;
    }
    li.hspNameLi h4 {
        font-size: 20px;
    }
    li.hspChargesLi,
    li.hspPhoneLi .phoneUl li,
    .bedData table {
        font-size: 14px;
    }
    li.vcNameLi h4 {
        font-size: 20px;
    }
    .filters,
    li.vcTagsLi,
    .vaccDataTable {
        font-size: 14px;
    }
}

@media (max-width: 960px) {
    .hospitalDetails,
    .vaccCentreDetails {
        width: 45%;
    }
    .bedData,
    .vaccData {
        width: 55%;
    }
}

@media (max-width: 900px) {
    li.hspNameLi h4 {
        font-size: 18px;
    }
    li.hspAddressLi,
    .bedData table {
        font-size: 12px;
    }
    li.vcNameLi h4 {
        font-size: 20px;
    }
    .filters,
    .fltrBtnDiv>button,
    li.vcAddressLi,
    .vaccDataTable {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #searchSection {
        --offset: 156px;
    }
    .tabBtn.flex-cc {
        font-size: 16px;
    }
    .tabBtn .material-icons {
        font-size: 20px;
    }
    /* siva */
    .total_hospitals_list {
        width: 100%;
    }
    .total_hospitals_list td,
    .total_hospitals_list th {
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 720px) {
    .hospitalData,
    .vaccCentreData {
        align-items: stretch;
    }
    .hospitalItem,
    .vaccCentreItem {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }
    .hospitalDetails,
    .vaccCentreDetails {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none;
    }
    .bedData,
    .vaccData {
        width: 100%;
    }
}

@media (max-width: 700px) {
    /*** Hanuma **********************/
    #searchSection {
        margin-top: -80px;
    }
    #searchWrapper {
        margin: 0 10vw;
        align-self: stretch;
    }
    #searchWrapper>* {
        margin: 8px 0;
    }
    #selectWrapper,
    #typeChkWrapper>div {
        flex-flow: column nowrap;
        align-items: stretch;
    }
    #selectWrapper>* {
        margin: 6px 0;
    }
    #distSel,
    .lBtnWrap {
        width: auto;
    }
    #info-model {
        --trnslt: 58px;
    }
    #typeChkWrapper {
        align-items: stretch;
    }
    #typeChkWrapper label {
        margin: 0;
        margin: 4px 0;
    }
    /*** Gayatri ****************/
    /*** Siva ******************/
    li.hspAddressLi,
    .phoneUl a {
        font-size: 12px;
    }
    .hspChargesLi {
        font-size: 14px;
    }
    a.hspDetailsLink {
        padding: 0px 10px;
        font-size: 12px;
    }
    /**************************/
}


/***************************************/

@media (max-width: 600px) {
    #searchSection {
        --offset: 70px;
    }
    #resTabWrapper,
    #resultSection {
        margin: 0 4vw;
    }
    #resultSection {
        margin-bottom: 20px;
    }
    .tabContentWrapper>section {
        width: 92vw;
    }
    /*** Gayatri ***********/
    #medStoreTabContainer .container {
        grid-gap: 24px;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
    .med *:not(h3,
    h4) {
        font-size: 12px;
    }
    .storecontainerR div a {
        padding: 7px 12px;
    }
    .filters ul li label {
        padding: 5px 10px;
    }
}

@media (max-width: 520px) {
    #searchSection {
        font-size: 16px;
    }
    #distSel,
    #locateMeBtn {
        font-size: 16px;
    }
    #searchBtn {
        font-size: 26px;
    }
    .tabBtn.flex-cc {
        font-size: 14px;
    }
    .tabBtn .material-icons {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    #searchSection {
        font-size: 14px;
    }
    #searchBtn {
        font-size: 22px;
    }
    .tabBtn.flex-cc {
        font-size: 13px;
        padding: 6px 12px;
    }
    .tabBtn .material-icons {
        font-size: 16px;
    }
    .med {
        flex-flow: column nowrap;
    }
    .storecontainerL,
    .storecontainerR {
        width: 100%;
    }
    .storecontainerL {
        height: 80px;
        margin: 0;
        margin-bottom: 8px;
        overflow: hidden;
    }
    .storecontainerL img {
        height: auto;
        width: 100%;
    }
    .storecontainerR {
        height: auto;
    }
    .storecontainerR,
    .storecontainerR div a,
    .storecontainerR div .btn .icon {
        font-size: 12px;
    }
    .storecontainerR div a {
        padding: 6px 12px;
    }
    /****************************/
    .vcTagsLi span {
        font-size: 12px;
    }
}

@media (max-height: 660px) {
    #searchWrapper select,
    #searchWrapper button,
    #searchWrapper label {
        height: 48px;
        padding: 8px 18px;
    }
}